{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>specific static folder</h1>
    <h2>prabhas loves kriti</h2>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    <img src="{% static 'images/prabha.jpg' %}" alt="" srcset="" width="300px" height="300px">
    <img src="{% static 'images/love.jpg' %}" alt="" srcset="" width="300px" height="300px">
    <img src="{% static 'images/kriti.jpg' %}" alt="" srcset="" width="300px" height="300px">
</body>
</html>